.app-download {
  margin: 100px auto;
  padding: 40px 20px;
  max-width: 850px;

  background-color: #f9f9f9;
  border: 1px solid #dddddd;
  border-radius: 8px;

  text-align: center;
  font-size: max(2.2vw, 18px);
  font-weight: 500;
  color: #333333;
  scroll-margin-top: 90px;
}

.app-download p {
  line-height: 1.5;
  font-family: 'Georgia', 'Times New Roman', serif;
}

/* STORE ICONS */
.app-download-platforms {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.app-download-platforms img {
  width: 150px;
  max-width: 170px;
  cursor: pointer;
  transition: transform 0.25s ease;
}

/* SOFT HOVER */
.app-download-platforms img:hover {
  transform: scale(1.04);
}
